@import (reference) "theme";

/* Общие классы */
*, *::before, *::after {box-sizing: border-box;}
img {border: 0 none; height: auto; max-width: 100%; vertical-align: middle;}
ul {list-style: outside none none; margin: 0; padding: 0;}

/* Подгонка под старые браузеры (делаем HTML5 элементы блочными) */
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {display: block;}

html, body {width: 100%; margin: 0; padding: 0;}
body {
    min-height: 100vh; display: flex; flex-direction: column; justify-content: space-between;
    color: @tc-primary; background: @bc-page; font-size: @ts-normal; font-family: @fontFamily;
}
main {flex-grow: 1;}
a {color: #00BCD4;}
p {margin: 14px 0;}

.page-header {padding: @gutter*2; background: @bc-foreground; font-size: @ts-large; line-height: @tl-large;}
.page-footer {padding: @gutter*2; background: @bc-foreground;}

.bus-list {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin: @gutter*3 0;
    overflow-x: auto;
    &::after {content: ''; display: block; flex-shrink: 0; width: @gutter; height: 1px;}

    .bus {
        flex-shrink: 0; width: @gutter*27; margin-left: @gutter; padding: @gutter*2; background: @bc-foreground; border-radius: 3px;
        display: flex; justify-content: flex-start; align-items: center; cursor: pointer; border: 1px solid transparent;
        &:hover {background: @bc-action-hover;}
        &:active {background: @bc-action-active;}
        &.selected {background: @bc-action; border: 1px solid @tc-secondary; cursor: default;}
        &-number {margin-right: @gutter*2; text-align: center; font-size: @ts-xx-large; line-height: @tl-xx-large;}
        &-from, &-via, &-to {font-size: @ts-small; line-height: @tl-small; color: @tc-secondary;}
    }
}

.schedule {
    margin: @gutter*3 0; padding: @gutter*2; background: @bc-background;
    .schedule-header {color: @tc-secondary; font-size: @ts-large; line-height: @tl-large;}
    .disclaimer {color: @tc-secondary; font-size: @ts-normal; line-height: @tl-normal;}
}

.timetable-card {display: none; margin-top: @gutter*3;}
.timetable-header {margin-bottom: @gutter;}
table.timetable {
    border-collapse: collapse; text-align: center; font-size: @ts-small; line-height: @tl-small; color: @tc-muted;
    th, td {margin: 0; padding: 2px 3px; border: 1px solid @el-black; cursor: default;}
    th {font-size: @ts-x-small; line-height: @tl-x-small; font-weight: @tw-normal; color: @tc-hint;}
    th:not(:empty)::after {content: ' рейс'; font-size: @ts-xx-small; line-height: @tl-xx-small;}
    td.timetable-number {text-align: right; font-size: @ts-x-small; line-height: @tl-x-small; color: @tc-hint;}
    td.timetable-number::after {content: ' график'; font-size: @ts-xx-small; line-height: @tl-xx-small;}
}
