{deps, [
    {cowboy,            {git, "https://github.com/ninenines/cowboy.git",        {tag, "2.8.0"}}},
    {jsone,             {git, "https://github.com/sile/jsone.git",              {tag, "1.5.5"}}},
    {sync,              {git, "https://github.com/rustyio/sync.git",            {tag, "v0.2.0"}}}
]}.

{erl_opts, [debug_info]}.

{overrides, [
    {del, [{erl_opts, [warnings_as_errors]}]}
]}.

%% Check required ERTS or OTP release version
{require_erts_vsn, ".*"}.
{require_otp_vsn, ".*"}.
{require_min_otp_vsn, ".*"}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [bus_pidgorodne]}
]}.

{relx, [
    {release, {bus_pidgorodne, "1.0.0"}, [  % заготовка для стандартного файла .rel (release resource file)
        bus_pidgorodne,                 % an applications included in the release
        runtime_tools,
        inets,
        sasl,
        cowboy
    ]},
    {extended_start_script, true},
    {include_erts, true},               % Включить в релиз целиком Erlang Run-Time System. В ERTS, среди прочего, включены BEAM, kernel and standard libraries.
    {include_src, false},
    {sys_config, "config/sys.config"},
    {vm_args_src, "config/vm.args"},
    {dev_mode, true}                    % relx не копирует файлы приложения и конфиги в релиз, а создаёт символьные ссылки на них
]}.
